:root{
    --primary:#ffffff;
    --secondary:#223059;
    --acent: #91F2E9;
    --texto: #2b2a2a;
    --desc: #3a3a3a;
    --shadow:#bebabab0;
    --succes: #02E6BF;
    --danger:#F54C4C;
    --warning:#FFBF1C;
  
  }